Flask
Flask-SQLAlchemy
apscheduler
fredapi
requests
pandas
numpy
yfinance
openpyxl
sqlalchemy-libsql --no-build-isolation
psycopg2-binary
gunicorn
websocket-client
git+https://github.com/rongardF/tvdatafeed.git